body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: auto;
    overflow: hidden;
    background:url(backround.png);  
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
}
h1{
    font-size:50px;
}
p {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}


.navbar-custom {
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;   
    position: -webkit-sticky;
    top: 0;
    background-color:#3880be ;
    justify-content: right;
    padding-bottom: #ffffff;
}

.navbar-custom .nav-link {
    font-weight: bold; 
    color: #ffffff; /* Mengatur warna teks link navbar */
    text-decoration: none; /* Menghilangkan garis bawah */
    padding: 10px 15px;
}
.navbar-custom .nav-link:hover {
    color: #cce7ff; 
}

.nav-link {
    font-weight: bold; 
}

.tengah {
    text-align: center;
    width: 100%;
}

.profil-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.kartu-profil{
    width: 20%;
    margin: auto;
}

.kartu-profil img{
    width: 80%;
    border-radius: 50%;
}

.kartu-profil p {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}



.kolom{
    margin-top: 100px;
    margin-bottom: 25px;
    animation: slideInLeft 3s ease forwards;
    opacity: 0;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.kartu-profil {
    animation: slideInLeft 3s ease forwards;
    opacity: 0;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



